<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/home.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<div class="cover-logo">
						<h1 class="logo">ADMIN</h1>
					</div>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="#"><i class="fa fa-user" aria-hidden="true"></i> Users <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-calendar" aria-hidden="true"></i> Request off</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="#"><i class="fa fa-pie-chart" aria-hidden="true"></i> Statistical</a>
							</li>
						</ul>
					</div>
					<div>
						<div class="dropdown">
							<span class="current-user__name" th:text="${currentUser.name}"></span>
							<button class="btn btn-secondary cover-avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="avatar" th:src="${currentUser.avatar}" alt="" >
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="#"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
								<a class="dropdown-item" href="#"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<div class="container_title">
					<h2 class="title-page">User management</h2>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
					</form>
				</div>
				<div class="container_title">
					<div ></div>
					<div >
						<button class="btn btn-outline-success my-2 my-sm-0 createUserBtn" type="button" data-toggle="modal" data-target="#createModal">Create User</button>
						<div id="createModal" class="modal fade" role="dialog">
						    <div class="modal-dialog">
						        <div class="modal-content">
						            <div class="modal-header">
						                <h4 class="modal-title">Create User</h4>
						                <button type="button" class="close" data-dismiss="modal">&times;</button>
						            </div>
						            <div class="modal-body">										
						                <form th:action="@{/create-user}" th:object = "${userForm}" method="POST">
											<div class ="form-group">
												<label> URL Avatar </label>
													<input
													type = "text"
													name = "avatar"
													th:field = "*{avatar}"
													class = "form-control"
													placeholder="Enter Url Avatar" 
													/>
											</div>
											<div class ="form-group">
												<label> User Name</label>
													<input
													min=5 
													type = "text"
													name = "name"
													th:field = "*{name}"
													class = "form-control"
													placeholder="Enter User Name" 
													/>
											</div>
											<div class ="form-group">
												<label> User Email </label>
													<input
													type = "text"
													name = "email"
													th:field = "*{email}"
													class = "form-control"
													placeholder="Enter User Email" 
													/>
											</div>
											<div class ="form-group">
												<label> User Password </label>
													<input
													min=5 
													type = "text"
													name = "password"
													th:field = "*{password}"
													class = "form-control"
													placeholder="Enter User Password" 
													/>
											</div>
											<div class ="form-group">
												<label> User Salary </label>
													<input
													type = "text"
													name = "salary"
													th:field = "*{salary}"
													class = "form-control"
													placeholder="Enter User Salary" 
													/>
											</div>
											<div class ="form-group">
												<label> User Type </label>
													<input
													type = "text"
													name = "type"
													th:field = "*{type}"
													class = "form-control"
													placeholder="Enter User Type" 
													/>
											</div>
											<div class="modal-footer">
								                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
								                <button type="submit" class = "btn btn-primary">Create User</button>										              
							            	</div>
						            	</form>
						            </div>
						            
						            
						        </div>
						   	 </div>
						</div>
		            	<script>
					   		 $(document).ready(function() {
					       	 	$(".createUserBtn").click(function() {						
					            	$("#createModal").modal();
					       	 	});
					    	});
						</script>					
					</div>
					 
				</div>
				
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th class="text-center"><span>User</span></th>
                                <th class="text-center"><span>Email</span></th>
                                <th class="text-center"><span>Salary</span></th>
                                <th class="text-center"><span>Actions</span></th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
	                            <tr th:each="user:${users}">
	                                <td>
	                                    <img th:src="${user.avatar}" alt="">
	                                    <a href="#" class="user-link" th:text="${user.name}"></a>	                                    
	                                    <span class="user-esubhead" th:text="${user.type}"></span>
	                                </td>
	                                <td class="text-center" th:text="${user.email}"></td>
	                                <td class="text-center" th:text="${user.salary}"> </td>
	                                
	                                
	                                
	                                <td  class="text-center" style="width: 20%;" >
	                                    
	                                  
	                                    <a href="#" class="table-link" data-toggle="modal" th:data-target="'#editModal'+${user.id}" >
	                                        <span class="fa-stack">
	                                            <i class="fa fa-square fa-stack-2x"></i>
	                                            <i class="fa fa-pencil fa-stack-1x fa-inverse"></i>
	                                        </span>
	                                    </a>
	                                     
	                                    <a th:if="${user.id!=currentUser.id}" href="#" class="table-link danger" data-toggle="modal" th:data-target="'#deleteModal'+${user.id}">
	                                        <span class="fa-stack">
	                                            <i class="fa fa-square fa-stack-2x"></i>
	                                            <i class="fa fa-trash-o fa-stack-1x fa-inverse"></i>
	                                        </span>
	                                    </a>	                       
	                                </td>
	                               
	                                <div th:id="'editModal'+${user.id}" class="modal fade" role="dialog">
											<div class="modal-dialog">
										        <div class="modal-content">
										            <div class="modal-header">
										                <h4 class="modal-title">Edit Modal</h4>
										                <button type="button" class="close" data-dismiss="modal">&times;</button>
										            </div>
										            
										            <div class="modal-body">
														<p th:text ="${user.id}"></p>
														<form th:action="@{/update-user/{id}(id=${user.id})}" th:object = "${userForm}" method="POST">
															<div class ="form-group">
																	
																<label> URL Avatar </label>
																	<input
																	type = "text"
																	name = "avatar"
																	th:field = "*{avatar}"
																	class = "form-control"
																	placeholder="Enter Url Avatar" 
																	/>
															</div>
															<div class ="form-group">
																<label> User Name</label>
																	<input																	
																	type = "text"
																	name = "name"
																	th:field = "*{name}"
																	class = "form-control"
																	placeholder="Enter User Name" 
																	/>
															</div>
															<div class ="form-group">
																<label> User Email </label>
																	<input
																	type = "text"
																	name = "email"
																	th:field = "*{email}"
																	class = "form-control"
																	placeholder="Enter User Email" 
																	/>
															</div>
															<div class ="form-group">
																<label> User Password </label>
																	<input
																	min=5 
																	type = "text"
																	name = "password"
																	th:field = "*{password}"
																	class = "form-control"
																	placeholder="Enter User Password" 
																	/>
															</div>
															<div class ="form-group">
																<label> User Salary </label>
																	<input
																	type = "text"
																	name = "salary"
																	th:field = "*{salary}"
																	class = "form-control"
																	placeholder="Enter User Salary" 
																	/>
															</div>
															<div class ="form-group">
																<label> User Type </label>
																	<input
																	type = "text"
																	name = "type"
																	th:field = "*{type}"
																	class = "form-control"
																	placeholder="Enter User Type" 
																	/>
															</div> 
															<div class="modal-footer">
																<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
																<button type="submit" class = "btn btn-danger">Confirm </a>																
															</div>
														</form>
										            </div>										           										           								              										            
										        </div>
										    </div>
									</div>
									<script>
									    $(document).ready(function() {
									        $(".table-link").click(function() {
												var id="#editModal"+user.id;									
									            $(id).modal();
									        });
									    });
									</script>
									<!-- -->
	                                <div th:id="'deleteModal'+${user.id}" class="modal fade" role="dialog">
										    <div class="modal-dialog">
										        <div class="modal-content">
										            <div class="modal-header">
										                <h4 class="modal-title">Delete Modal</h4>
										                <button type="button" class="close" data-dismiss="modal">&times;</button>
										            </div>
										            <div class="modal-body">
										                <p >Are you sure you want to delete?.</p>
										            </div>
										            <div class="modal-footer">
										                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
										                <a th:href = "@{/delete/{id}(id=${user.id})}" class = "btn btn-danger">Delete</a>										              
										            </div>
										        </div>
										    </div>
									</div>
	                                <script>
									    $(document).ready(function() {
									        $(".table-link").click(function() {
												var id="#deleteModal"+user.id;									
									            $(id).modal();
									        });
									    });
									</script>
	                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>