<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Request-off</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/request-off.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<div class="cover-logo">
						<h1 class="logo">ADMIN</h1>
					</div>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="http://localhost:8080/"><i class="fa fa-user" aria-hidden="true"></i> Users <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:8080/request-off"><i class="fa fa-calendar" aria-hidden="true"></i> Request off</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:8080/statistical"><i class="fa fa-pie-chart" aria-hidden="true"></i> Statistical</a>
							</li>
						</ul>
					</div>
					<div>
						<div class="dropdown">
							<span class="current-user__name" th:text="${currentUser.name}"></span>
							<button class="btn btn-secondary cover-avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="avatar" th:src="${currentUser.avatar}" alt="" >
							</button> 
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
								<a class="dropdown-item" th:href="@{/user-detail/{id}(id=${currentUser.id})}"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
				<div class="container_title">
					<h2 class="title-page">Request off management</h2>
					<form class="form-inline my-2 my-lg-0">
						<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
						<button class="btn btn-outline-success my-2 my-sm-0" type="button">Search</button>
					</form>
				</div>
                <div class="main-box clearfix">
                    <div class="table-responsive">
                        <table class="table user-list">
                            <thead>
                            <tr>
                                <th class="text-center"><span>User</span></th>
                                <th class="text-center"><span>Day off</span></th>
                                <th class="text-center"><span>Reason</span></th>  
                                <th class="text-center"><span>Status</span></th>                             
                                <th class="text-center"><span>Actions</span></th>
                            </tr>
                            </thead>
                            <tbody class="tbody">
	                            <tr th:each="requestOffUser:${requestOffUsers}">
	                                <td>
	                                    <img th:src="${requestOffUser.user.avatar}" alt="">
	                                    <a href="#" class="user-link" th:text="${requestOffUser.user.name}"></a>	                                    
	                                    <span class="user-esubhead" th:text="${requestOffUser.user.type}"></span>
	                                </td>
	                                <td class="text-center" th:text="${requestOffUser.requestOff.dayOff + ' - ' + requestOffUser.requestOff.shift}">										
									</td>	                                	                                
	                                <td class="text-center" th:text="${requestOffUser.requestOff.reason}"></td>
	                                <td class="text-center" th:text="${requestOffUser.requestOff.status}"></td>
	                                <td  class="text-center" style="width: 20%;">	                                    
	                                    <a th:href = "@{/approved/{id}(id=${requestOffUser.user.id})}" type="button" class="btn-success btn" th:if="${requestOffUser.requestOff.status=='pending'}" >
  											Approved
										</a>	
										<a th:href = "@{/reject/{id}(id=${requestOffUser.user.id})}" type="button" class="btn-danger btn" th:if="${requestOffUser.requestOff.status!='reject'}">
  											Reject
										</a>										
	                                </td>
	                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>