<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Dashboard</title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/style/home.css}"/>
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>
<body>
	<div>
	    <!-- Account page navigation-->
	   <div>
		<header>
			<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
				<div class="container">
					<div class="cover-logo">
						<h1 class="logo">ADMIN</h1>
					</div>
					<div class="collapse navbar-collapse" id="navbarNavDropdown">
						<ul class="navbar-nav">
							<li class="nav-item active">
								<a class="nav-link" href="http://localhost:8080/"><i class="fa fa-user" aria-hidden="true"></i> Users <span class="sr-only">(current)</span></a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:8080/request-off"><i class="fa fa-calendar" aria-hidden="true"></i> Request off</a>
							</li>
							<li class="nav-item">
								<a class="nav-link" href="http://localhost:8080/statistical"><i class="fa fa-pie-chart" aria-hidden="true"></i> Statistical</a>
							</li>
						</ul>
					</div>
					<div>
						<div class="dropdown">
							<span class="current-user__name" th:text="${currentUser.name}"></span>
							<button class="btn btn-secondary cover-avatar" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
								<img class="avatar" th:src="${currentUser.avatar}" alt="" >
							</button>
							<div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
								<a class="dropdown-item" href="/login"><i class="fa fa-sign-out" aria-hidden="true"></i> Sign out</a>
								<a class="dropdown-item" th:href="@{/user-detail/{id}(id=${currentUser.id})}"><i class="fa fa-cog" aria-hidden="true"></i> Settings</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</header>
	</div>
	    <hr class="mt-0 mb-4">
	    <div class="row px-4">
	        <div class="col-xl-4">
	            <!-- Profile picture card-->
	            <div class="card mb-4 mb-xl-0">
	                <div class="card-header">Profile Picture</div>
	                <div class="card-body text-center">
	                    <!-- Profile picture image-->
	                    <img class="img-account-profile rounded-circle mb-2" th:src="${userid.avatar}" alt="">
	                    
	                </div>
	            </div>
	        </div>
	        <div class="col-xl-8">
	            <!-- Account details card-->
	            <div class="card mb-4">
	                <div class="card-header">Account Details</div>
	                <div class="card-body">
	                    <form>
	                        <!-- Form Group (username)-->
	                        <div class="mb-3">
	                            <label class="big mb-1" for="name"><b>FullName</b></label>
	                            <input class="form-control" id="name" type="text" disabled="disabled" placeholder="Enter your fullname" th:value=${userid.name}>
	                        </div>
	                        <!-- Form Row-->
	                        <div class="row gx-3 mb-3">
	                            <!-- Form Group (first name)-->
	                            <div class="col-md-6">
	                                <label class="big mb-1" for="email"><b>Email</b></label>
	                                <input class="form-control" id="email" type="email" disabled="disabled" placeholder="Enter your email" th:value=${userid.email}>
	                            </div>
	                            <!-- Form Group (last name)-->
	                            <div class="col-md-6">
	                                <label class="big mb-1" for="password"><b>Password</b></label>
	                                <input class="form-control" id="password" type="text" disabled="disabled" placeholder="Enter your password" th:value=${userid.password}>
	                            </div>
	                        </div>
	                        
	                       
	                        <!-- Form Row-->
	                        <div class="row gx-3 mb-3">
	                            <!-- Form Group (phone number)-->
	                            <div class="col-md-6">
	                                <label class="big mb-1" for="salary"><b>Salary</b></label>
	                                <input class="form-control" id="salary" type="tel" disabled="disabled" placeholder="Enter your salary" th:value=${userid.salary}>
	                            </div>
	                            <!-- Form Group (birthday)-->
	                            <div class="col-md-6">
	                                <label class="big mb-1" for="type"><b>Type</b></label>
	                                <input class="form-control" id="type" type="text"  disabled="disabled" placeholder="Enter your type" th:value=${userid.type}>
	                            </div>
	                        </div>
	                        
	                    </form>
	                </div>
	            </div>
	        </div>
	    </div>
	</div>
</body>
</html>